{% extends 'base.html.twig' %}

{% block title %}Listes de vos inscriptions{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Nom de l'activité</th>
        </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
        <tr>
            <td>{{ inscription.nom }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}