{% extends 'base.html.twig' %}

{% block title %}Listes des enfants inscrits{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}